.card-gradient {
    background: #212126;
    background: linear-gradient(274deg, rgb(54, 54, 62) 0%, rgba(52, 54, 66, 1) 34%, rgb(66, 63, 75) 100%);
}

.page-gradient {
    background: #24242c;
    background: linear-gradient(274deg, rgba(36, 36, 44, 1) 0%, rgba(32, 35, 40, 1) 100%);
}

