@use "./base";

@font-face {
    font-family: 'Oraqle';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/OraqleScript.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 14px;
}

body {
    margin: 0;
    font-family: -apple-system, "Figtree", Arial, sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

pre {
    font-family: -apple-system, "Figtree", Arial, sans-serif !important;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


a {
    text-decoration: none;
    color: base.$primary;
}

li {
    list-style-type: none;
}

button {
    border: none;
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    outline: none;
}

button:active,
button:focus {
    outline: none;
}

input {
    font-family: inherit;
    color: inherit;
}

textarea {
    resize: none !important;
}

/* ===================================
   antd
==================================== */

.ant-btn-default:hover {
    color: inherit !important;
    border-color: inherit !important;
}